@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #e056fd;
    --black: #090029;
    --bg-color: #e2e2e2;
    --white: #fff;
    --light-white: rgba(255, 255, 255, .8);
    --box-shadow: 0.5rem 1rem rgba(0, 0, 0, .3);
    --border: .1rem solid rgba(255, 255, 255, .1);
}

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding: 9rem;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--white);
}

body {
    background: #f5f5f5;
}

section {
    position: relative;
    padding: 3rem 2rem;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    color: var(--white);
    border-radius: .5rem;
    border: .3rem solid var(--white);
    font-size: 1.8rem;
    padding: 1rem 3rem;
    cursor: pointer;
    transition: .2s linear;
    position: relative;
    /* Ensure position relative */
    z-index: 1;
    /* Higher z-index to keep text above the background */
    overflow: hidden;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: var(--white);
    /* background: linear-gradient(0.45turn, #2deaff, #e149ff, #fff);    background-position: top; */

    z-index: -1;
    /* Lower z-index to keep the background behind the text */
    transition: .2s linear;
}

.btn:hover::before {
    width: 100%;
    left: 0;
}

.btn:hover {
    transform: translateY(-5px);
    /* font-weight: bold; */
    color: var(--main-color);
    /* Change text color to white when hovered */
}

.header {
    /* background: var(--white); */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: .4s linear;
}

.header .flex {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo {
    font-family: "Libre Caslon Display", serif;
    font-size: 4rem;
    color: var(--black);
}

.header .flex .logo i {
    margin-right: .5rem;
    color: var(--main-color);
}

.header .flex .navbar a {
    margin: 0 1.5rem;
    font-size: 1.6rem;
    color: var(--black);
    transition: all .2s ease-out;
    letter-spacing: 2px;
}

.header .flex .navbar a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

#menu-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 10000;
    background: var(--main-color);
    color: var(--white);
    height: 4.5rem;
    width: 5rem;
    line-height: 4.4rem;
    font-size: 2rem;
    border-radius: .5rem;
    text-align: center;
    display: none;
}

.sticky {
    padding: 0 12rem;
    background: rgba(255, 255, 255, 0.659);
    backdrop-filter: blur(5px);
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
}

.home {
    /* background: linear-gradient(0.45turn, #f2f1ec, #e2e2e2); */
    background: linear-gradient(0.45turn, #6ff1ff, #e56cfd, #fff);
    background-position: center;
    background-size: cover;
    height: 85vh;
}

.home .flex {
    display: flex;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
    flex-wrap: wrap-reverse;
}

.home .flex .image {
    flex: 1 1 40rem;
    /* max-width: 40rem; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.home .flex .image img {
    width: 100%;
}

.home .flex .content {
    flex: 1 1 40rem;
}

.home .flex .content h3 {
    font-size: 6rem;
    color: var(--white);
    text-transform: uppercase;
}

.home .flex .content h3 span {
    color: var(--main-color);
    text-transform: uppercase;
}

.home .flex .content p {
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 3rem;
}


/* Courses Section */
.courses-section {
    position: relative;
    margin: 5rem 0;
    padding: 5rem 0;
    height: 120vh;
    background: url(../img/e56cfd.png);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

.section-title {
    padding: 2rem 0;
    font-size: 5rem;
    color: var(--main-color);
    text-align: center;
}


/* Card swiper */
.card-wrapper {
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .05);
    transition: .4s ease;
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    border-color: #5372f0;
    transform: translateY(-15px);
    transform: scale(1.05);
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 11 / 16;
    object-fit: fill;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #5372f0;
    padding: 8px 16px;
    font-size: .95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #DDE4FF;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .badge.Robotics {
    color: #fcfdfb;
    background: #189599;
}

.card-list .card-link .badge.Mobile {
    color: #fefefe;
    background: #68c0ed;
}

.card-list .card-link .badge.Python {
    color: #fefefe;
    background: #3773a5;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 30px 0 5px;
    border: var(--border);
    background: none;
    cursor: pointer;
    transform: rotate(-45deg);
    transition: .4s ease;
}


.card-list .card-link:hover .card-button {
    color: var(--white);
    background: #5372f0;
}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: .5;
    background: #5372f0;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper .swiper-slide-button {
    color: #5372f0;
    margin-top: -35px;
}


/* features Section */
.features-section {
    margin: 3rem 0;
    padding: 5rem 7rem;
    height: 100vh;
    background: url(../img/dots_background_horizontal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem 0;
}

.row h1 {
    width: 100%;
    text-align: center;
    font-size: 3.75em;
    margin: 2rem 0 5rem 0;
    font-weight: 600;
    color: var(--main-color);
}

.column {
    padding: 1em;
}

.card {
    padding: 3.1em 1.25em;
    text-align: center;
    min-height: 30rem;
    background: linear-gradient(0deg, var(--main-color) 10px, #fff 10px);
    background-repeat: no-repeat;
    background-position: 0 0.62em;
    box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    transition: 0.5s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05) translateY(-10px);
}

.card .icon {
    font-size: 2.5em;
    height: 2em;
    width: 2em;
    margin: auto;
    background-color: var(--main-color);
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: #ffffff;
}

.icon:before {
    position: absolute;
    content: "";
    height: 1.5em;
    width: 1.5em;
    border: 0.12em solid var(--main-color);
    border-radius: 50%;
    transition: 0.5s;
}

.card h3 {
    font-size: 1.3em;
    margin: 1em 0 1.4em 0;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #070024;
}

.card p {
    line-height: 2em;
    color: #625a71;
}

.card:hover {
    background-position: 0;
}

.card:hover .icon:before {
    height: 2.25em;
    width: 2.25em;
}



/* About Us */
.about-us {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0 10rem;
    margin: 10rem 0;
}

.about-us .row {
    gap: 0;
    margin-top: 5rem;
}

.about-us .row h1 {
    margin: 0;
}

.mission,
.goal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: #ffffff; */
    padding: 0 20px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.mission-text,
.goal-text {
    flex: 1;
    max-width: 45%;
    line-height: 1.8;
}

.mission-image,
.goal-image {
    flex: 1;
    max-width: 45%;
    display: flex;
    justify-content: center;
}

.mission-image img,
.goal-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-us h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-us p {
    font-size: 16px;
    color: #333;
}


/* Team */
.team-text {
    flex: 1;
    line-height: 1.8;
    margin-bottom: 2rem;
    padding: 20px;
}

.team-text h2 {
    text-align: center;
    padding: 2rem 0;
}

.about-us .card-item .card-link .badge {
    font-size: 1.6rem;
    background: #5372f0;
}

.about-us .card-item .card-link .card-title {
    font-size: 1.2rem;
}

.team-image {
    width: 150px;
    /* Adjust size as needed */
    height: 150px;
    /* Make sure height equals width */
    border-radius: 50%;
    overflow: hidden;
    /* Ensures the image stays within the circle */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* Centers the image horizontally */
}

.team-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image scales correctly inside the circle */
}

/* About Us specific swiper card styles */
.about-us .card-list .card-item .card-link {
    user-select: none;
    display: flex;
    /* Flexbox for layout */
    flex-direction: column;
    /* Stack content vertically */
    justify-content: center;
    /* Center content vertically */
    align-items: center;
    /* Center content horizontally */
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid #5372f0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .05);
    transition: .4s ease;
    height: 100%;
    /* Full card height */
}

.about-us .card-list .card-link .card-image {
    width: 100%;
    max-width: 150px;
    /* Adjust size as needed */
    aspect-ratio: 1 / 1;
    /* Square image */
    object-fit: cover;
    /* Fit image inside */
    border-radius: 50%;
    /* Make image circular */
    margin-bottom: 20px;
    /* Space between image and other content */
}

.about-us .card-list .card-link .badge,
.about-us .card-list .card-link .card-title {
    text-align: center;
    /* Center text and button */
    margin-bottom: 10px;
    /* Spacing between elements */
}

.about-us .card-list .card-item .card-link:active {
    cursor: grabbing;
}

.about-us .card-list .card-item .card-link:hover {
    border-color: var(--main-color);
    transform: translateY(-15px);
    transform: scale(1.05);
}

.about-us .card-list .card-item .card-link:hover p {
    background: var(--main-color);
}



/* contact us */
.contact {
    background: linear-gradient(0.5turn, #f5f5f5, #e056fd);
}

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: var(--main-color);
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-input {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: 666;
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-left .btn {
    background: transparent;
    color: white;
}

.contact-left .btn:hover {
    color: var(--main-color);
}

.contact-input::placeholder {
        color: #a9a9a9;
}

.contact-right img {
    width: 500px;
}

.contact .flex {
    width: 100%;
    background: var(--black);
    align-items: center;
    justify-content: center;
    margin: 0;
}

.contact .flex .contact-text {
    color: var(--white);
    text-align: center;
    vertical-align: middle;
}

.contact .flex .contact-text p {
    display: inline-block;
    margin: 2rem;
    transition: .4s ease;
}

.contact .flex .contact-text {
    align-items: center;
    justify-content: center;
}

.contact .flex .contact-text .contact-info {
    margin-right: 20px;
}

.contact .flex .contact-text .contact-info span {
    vertical-align: middle;
}

.contact .flex .contact-text p:hover {
    color: var(--main-color);
    transform: scale(1.1);
}






/* blog */

@import url(//fonts.googleapis.com/css?family=Abril+Fatface|Droid+Serif:400,700,400italic,700italic);

.blog {
    margin: 0;
    padding: 0;
}

.blog-card {
    max-width: 550px;
    width: 100%;
    height: 500px;
    position: relative;
    font-family: 'Droid Serif', serif;
    color: #fff;
    top: 20%;
    right: 0;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: all 0.4s;
    background: url(../img/CMD_x_Techne_Summit.png) center no-repeat;
    background-size: 100%;
}

.blog-card a {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s
}

.blog-card .color-overlay {
    background: rgba(64, 84, 94, 0.5);
    width: 550px;
    height: 500px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.blog-card .gradient-overlay {
    background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
    width: 550px;
    height: 500px;
    position: absolute;
    top: 350px;
    left: 0;
    z-index: 15;
}

.blog-card:hover {
    box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
}

.blog-card:hover .card-info {
    opacity: 1;
    bottom: 100px;
}

.blog-card:hover .color-overlay {
    background: rgba(64, 64, 70, 0.8);
}

.blog-card:hover .title-content {
    margin-top: 70px
}

.title-content {
    text-align: center;
    margin: 170px 0 0 0;
    position: absolute;
    z-index: 20;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.6s
}

.blog-card:hover h3:after {

    animation: changeLetter 0.3s 1 linear;
    width: 80%
}

.blog-card h3,
h1 {
    font-size: 1.9em;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Abril Fatface', serif;
    margin-bottom: 0;
    display: inline-block;
}

.blog-card h3 a {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.2s
}

.blog-card h3 a:hover {
    text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
}

h3:after {
    content: " ";
    display: block;
    width: 10%;
    height: 2px;
    margin: 20px auto;
    border: 0;
    background: #BDA26B;
    transition: all 0.2s
}

@keyframes changeLetter {
    0% {
        width: 10%;
    }

    100% {
        width: 80%;
    }
}

.intro {
    width: 170px;
    margin: 0 auto;
    color: #ddd;
    font-style: italic;
    line-height: 18px;
}

.intro a {
    color: #ddd
}

.intro a:hover {
    text-decoration: underline
}

.card-info {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: -40px;
    left: 0;
    margin: 0 auto;
    padding: 0 50px;
    font-style: 16px;
    line-height: 24px;
    z-index: 20;
    opacity: 0;
    transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card-info a {
    display: block;
    width: 100px;
    margin: 15px auto;
    background: #fff;
    color: #444;
    padding: 3px 10px;
    border-radius: 2px;
    font-size: 0.8em
}

.card-info a:hover {
    background: #8e7c49;
    color: #fff;
}

.card-info a:hover span {
    filter: brightness(10);
    opacity: 1
}

.utility-info {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 20;
    width: 100%;
    text-align: left
}

.utility-info:after {
    content: " ";
    background: url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg) center no-repeat;
    background-size: 30px auto;
    display: block;
    opacity: 0.4;
    position: absolute;
    bottom: 25px;
    right: 15px;
    width: 30px;
    height: 15px
}

.utility-info a:hover {
    text-decoration: underline
}

.utility-list {
    list-style-type: none;
    margin: 0 0 10px 20px;
    padding: 0;
    width: 100%;

}

.utility-list li {
    margin: 0 5px 0 0;
    padding: 3px 0 15px 0px;
    display: inline-block;

    font-size: 0.8em
}

.licon {
    position: relative;
    width: 23px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}

.licon:before {
    content: "";
    background: url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg?) -2px -6px no-repeat;
    background-size: 250px;
    width: 26px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -3px;
    left: 0;
}

.icon-white {
    filter: brightness(10);
}

.icon-black {
    filter: brightness(0);
    opacity: 0.6
}

.icon-like:before {
    background-position: -183px -6px;

}

.icon-com:before {
    background-position: -63px -4px;

}

.icon-dat:before {
    background-position: -94px -7px;
}

.icon-tag:before {
    background-position: -33px -6px;

}

@media (max-width:750px) {
    .utility-info {
        text-align: center;
    }

    .utility-info ul {
        width: 100%;
        margin: 0;
        box-sizing: border-box
    }

    .utility-info li {
        width: 49%;
        display: inline-block;
        box-sizing: border-box;
        margin: 0
    }
}

@media (max-width:500px) {
    .utility-info li:last-of-type {
        width: 100%
    }

    .card-info {
        display: none
    }

    .blog-card:hover .title-content,
    .title-content {
        margin-top: 40px
    }

    .blog-card {
        height: 300px
    }

    .blog-card h3 {
        font-size: 1.3em
    }

    .intro {
        font-size: 0.8em
    }
}


/*  ================  */

/* ignore this bit :P */
#profile-badges:after {
    content: "BRO";
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1px 4px 1px 4px;
    color: black !important;
    border-radius: 3px;
    position: relative;
    top: -2px;
    text-shadow: none !important;
    white-space: nowrap;
    letter-spacing: 0;
    background: #FFDD40;
}

.profile-header {
    background: #333 url(https://images.unsplash.com/photo-1435783099294-283725c37230?dpr=1&auto=compress,format&fit=crop&w=1376&h=635&q=80&cs=tinysrgb&crop=&bg=) top center no-repeat;
    background-size: cover;
    font-size: 3em;
    position: relative
}

.profile-header:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(23, 23, 31, 0.42);
    z-index: 0
}

#profile-links a {
    font-family: 'Abril Fatface', serif;
    font-size: 1.2em
}


.profile-links a[href*=nodws\.com]:before {
    content: "\2616";
    color: #0a45b5;
    padding-right: 3px
}

.profile-links a[href*=twitter]:before {
    content: "\1f426";
    color: #08c
}

.profile-links a[href*=dribbble]:before {
    content: "\26BE";
    color: #d055bf
}

#following-this-user {
    pointer-events: none
}

#follow-this-user {
    font-size: 1.2em;
    border-color: #359ef9
}

#follow-this-user:after {
    content: "\1f448"
}

.links-and-stats {
    background: rgb(20, 20, 21);
}

.profile-name h1 {
    text-shadow: 0 6px 9px rgba(0, 0, 0, 0.48)
}

.profile-avatar {
    bottom: -10px;
    width: 150px;
    height: 150px;
    border: 0px solid #1E1E1E;
    background: rgba(2, 2, 2, 0.49);
    box-shadow: 0 19px 19px -10px rgba(0, 0, 0, 0.63)
}

.profile-username,
.upsell,
.profile-location,
.primary-pro {
    opacity: 0;
}

.upsell,
#pen-as-header-question {
    display: none
}

.profile-nav-1 a {
    font-size: 1.2rem;
}

.profile-bio,
.profile-nav-1 a.active,
.profile-nav-1 a:hover {
    color: rgba(20, 20, 21, 0.59) !important;
    font-size: 1.2rem
}

.meta .pen-title {
    font-family: 'Droid Serif', serif;
    text-align: center
}

.pagination-button {
    background-color: #2f2f31;
    border-color: #2f2f31;
    transition: all 0.2s
}

.pagination-button:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2)
}

.single-project .stats,
.single-pen .stats {
    text-align: center;
    width: 100%
}

.stats svg {
    fill: #bda26b;
}

.stats svg,
.loves .icon-heart {
    fill: rgba(47, 47, 49, 0) !important;
    stroke: #ba6 !important;
    stroke-width: 0.1em !important;
}

.loves .icon-heart {
    stroke-width: 0.5em !important;
}

.comments svg {
    stroke-width: 0.35em !important;
}

.single-stat.loves.loved-1 svg {
    stroke: #fff !important
}

.single-pen:hover h3:after {
    width: 40%;
    transition: all 0.2s
}

.pen-actions {
    border: 0px !important
}

.meta {
    box-shadow: none !important
}
























@media screen and (min-width: 768px) {
    section {
        padding: 1rem 7rem;
    }
}

@media screen and (min-width: 992px) {
    section {
        padding: 1rem;
    }

    .card {
        padding: 5rem 2rem;
    }

    .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 1rem;
    }
}









































/* Media Queries */
@media (min-width: 1440px) {
    .features-section {
        padding: 5rem 7rem;
        flex: 0 0 50%;

    }
}


@media (max-width: 990px) {
    html {
        font-size: 55%;
    }

    .header.sticky {
        padding: 0px 3%;
        transition: .2s;
    }

    .card {
        padding: 5rem 2rem;
    }

    .column {
        flex: 0 0 50%;
        max-width: 50%;
        /* padding: 0 1rem; */
    }
}

@media (max-width: 800px) {
    #menu-btn {
        display: inline-block;
    }

    .header .flex .navbar {
        position: fixed;
        top: 0;
        left: -120%;
        height: 100vh;
        width: 100%;
        z-index: 2000;
        background: var(--black);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        flex-flow: column;
        transition: .2s linear;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-input {
        width: 80vw;
    }

    .contact-right img {
        width: 50rem;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .flex {
        padding: 1rem;
    }

    .home {
        height: 90vh;
    }

    .home .flex {
        min-height: 90vh;
    }

    .header .flex .navbar {
        position: fixed;
        top: 0;
        left: -120%;
        height: 100vh;
        width: 100%;
        z-index: 2000;
        background: var(--black);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        flex-flow: column;
        transition: .2s linear;
    }

    .header .flex .navbar.active {
        background: var(--white);
        left: 0;
    }

    .header .flex .navbar a {
        font-size: 4rem;
        color: var(--black);
    }

    .home .flex .image {
        flex: 1 1 35rem;
        max-width: 40rem;
    }

    .home .flex .content h3 {
        font-size: 3.5rem;
    }

    .card-wrapper .swiper-slide-button {
        display: none;
    }

    .features-section {
        padding: 0 7rem;
        background: url(../img/dots_background.png);
        background-size: contain;
    }

    .card {
        padding: 5rem 2rem;
    }

    .column {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 1rem;
    }

    .mission,
    .goal {
        flex-direction: column;
        text-align: center;
    }

    .mission-text,
    .goal-text,
    .mission-image,
    .goal-image {
        max-width: 100%;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .header .flex {
        padding: 1rem;
    }

    .home {
        background: linear-gradient(0.5turn, #6ff1ff, #e56cfd, #f5f5f5);
        height: 100vh;
    }

    .home .flex {
        margin-top: 50px;
        min-height: 85vh;
    }

    .card-wrapper {
        overflow: visible;
    }

    .courses-section {
        padding: 0;
        height: 80vh;
        background: url(../img/e56cfd.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .btn {
        color: var(--main-color);
        border-color: var(--main-color);
    }

    .features-section {
        margin-top: 0;
        padding: 0 7rem;
        background: url(../img/dots_background.png);
        background-size: contain;
        height: 200vh;
    }

    .card {
        padding: 5rem 2rem;
    }

    .column {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 1rem;
    }

    .about-us {
        margin-top: 0;
        padding: 0 0 10rem 0;
    }

    .mission,
    .goal {
        margin: 2rem;
        padding: 2rem;
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    }

    .blog {
        height: 50vh;
    }

    .contact-right img {
        width: 350px;
    }

    .contact .flex {
        margin-top: 50px;
    }
}


@media (max-width: 390px) {
    .courses-section {
        height: 100vh;
    }

    .features-section {
        padding: 0 7rem;
        height: 220vh;
    }

    .contact .flex {
        margin-top: 50px;
    }
}